.pages_root {
  text-align: left;
  padding: 120px 0;
}

.fit_in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
}

.fit_out {
  position: relative;
}

@media screen and (max-width: 739.98px) {
  .pages_root {
    padding: 120px 16px;
    width: 100%;
  }
  .fit_in {
    width: 100%;
  }
}
