.pages_root {
  text-align: left;
  padding: 120px 0;
  min-width: 600px;
}

@media screen and (max-width: 739.98px) {
  .pages_root {
    padding: 120px 16px;
    width: 100%;
    min-width: auto;
    overflow: hidden;
  }
}
