:root {
  --shiki-color-text: #5f5f5f;
  --shiki-color-background: #fffffe;
  --shiki-token-constant: #4a8c8c;
  --shiki-token-string: #5f5f5f;
  --shiki-token-comment: #5f5f5f;
  --shiki-token-keyword: #68a0bc;
  --shiki-token-parameter: #5f5f5f;
  --shiki-token-function: #5f5f5f;
  --shiki-token-string-expression: #7c99dc;
  --shiki-token-punctuation: #5f5f5f;
  --shiki-token-link: #5f5f5f;
}

pre {
  border-radius: 4px;
  padding: 20px 0;
  margin: 32px 0;
  width: 600px;
  border: solid 1px black;
  overflow-x: scroll;
}

code {
  font-family: var(--source);
}

[data-rehype-pretty-code-fragment] div {
  position: relative;
  height: 0;
  top: 45px;
  margin-right: 20px;
  font-size: 14px;
  color: gray;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line {
  padding: 0 20px;
  line-height: 1.5;
}

[data-rehype-pretty-code-fragment] code .line span {
  font-size: 14.4px;
}

div[data-rehype-pretty-code-fragment] pre code {
  display: grid;
  grid-auto-rows: minmax(auto, 1fr);
}

div[data-rehype-pretty-code-fragment] .line.highlighted {
  background: rgba(200, 200, 200, 0.2);
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  margin-right: 0.75rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: #718096;
  content: counter(lineNumber);
  counter-increment: lineNumber;
}

p code {
  background: var(--color-code);
  border: solid 0.4px var(--color-border);
  box-shadow: 0 0 2px -0.4px var(--color-shadow);
  color: var(--color-h1);
  padding: 0 5px 2px 5px;
  border-radius: 2px;
}

@media screen and (max-width: 739.98px) {
  pre {
    max-width: 100%;
    overflow: auto;
  }

  [data-rehype-pretty-code-fragment] div {
    top: 10px;
  }

  [data-rehype-pretty-code-fragment] code .line span {
    font-size: 12.4px;
  }
}
