.footer_main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--footer);
}

.footer_text {
  position: relative;
  text-align: left;
  color: var(--color-light);
}

@media screen and (max-width: 739.98px) {
  .footer_text {
    right: 20px;
  }
}
